@import url(http://weloveiconfonts.com/api/?family=fontawesome);

#map {
  height: 100%;
  position: fixed;
  /*bottom: 0px;*/
  width: 100%;
  z-index: -1;
}

#info {
    height: 370px;
    width: 250px;
    background-color: rgba(214, 135, 18, 0.85);
    bottom: 20px;
    position: fixed;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.5);

}

article {
  position: fixed;
  left: 130px;
  bottom: 60px;
}


section:before {
  position: absolute;
  font-family: 'FontAwesome', sans-serif;
  font-weight: normal;
  font-size: 90px;
  text-shadow: 2px -2px 2px rgba(0,0,0,0.4);
  color: #102374;
  left: -100px;
  top: -70px;
  cursor: default;
}

section:active:before {
  display:block;
  text-shadow: -2px 2px 2px rgba(0,0,0,0.4);
  color: #102374;
}


/*Formularz logowania*/

#login {
  position: fixed;
  right: 165px;
  top: 10px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.jumbotron {
  position: fixed;
  top: 25%;
  width: 30%;
  height: 300px;
  left: 35%;
}
/*
#message {
    border-radius: 6px;

    text-align: center;
    margin: auto;
    padding: 10px;
    z-index: 1;
}
*/
