<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head>
    <title>Gmina Kolonowskie- sieć oświetleniowa</title>



    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./static/css/leaflet.css" />
    <link href="./static/css/style.css" rel="stylesheet">
    <link href="./static/css/leaflet-label.css" rel="stylesheet">
    <link href="./static/css/leaflet-markercluster.css" rel="stylesheet">
    <link href="./static/lightbox/css/lightbox.css" rel="stylesheet">
    <link href="./static/css/BootSideMenu.css" rel="stylesheet">
    <!-- <link href="./static/css/hint.css" rel="stylesheet"> -->

    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script src="./static/js/leaflet-grouplegend.js"></script>
    <script src="./static/js/leaflet-label.js"></script>
    <script src="./static/js/leaflet-markercluster.js"></script>
    <script src="./static/js/BootSideMenu.js"></script>


{% block head %}{% endblock %}

<script>
// Google analytics
</script>


<!-- Przekierowania do definicji w app.py -->
<script type="text/javascript">
  var postGIS_slupyUrl = "{{ url_for('postGIS_slupy') }}";
  var postGIS_stacjeUrl = "{{ url_for('postGIS_stacje') }}";
  var boundsSlupyUrl = "{{ url_for('boundsSlupy') }}";
</script>



</head>
<body>


{% block map %}{% endblock %}

<!-- Dymek z podpowiedziami dla użytkowników -->
<article>
  <section class="fontawesome-info-sign"></section>
  <div id="info" class="hint"><h3>Jak korzystać?</h3>
  <ol>
    <li>Proszę kliknąć na stację aby się do niej przybliżyć i wyświetlić wszystkie słupy, które są przez nią zasilane.</li>
    <li>Proszę kliknąć na słup aby wyświetlić dodatkowe informacje i zdjęcie.</li>
    <li>W menu po prawej stronie można dodawać warstwy tematyczne takie jak ortofotoampa, kataster lub wszystkie słupy z oświetleniem.</li>
  </ol> </div>
</article>

<!-- Ikona z info. Sterowane jquery -->
<script>
  $(".hint").hide();
$("section").click(function () {
  $(".hint").toggle("slow");
});
</script>

{% block body %}{% endblock %}




<!-- Wczytanie lightbox do wyświetlania zdjęć -->
<script src="./static/lightbox/js/lightbox.js"></script>

</body>

</html>
