{% extends "index.html" %}

{% block map %}
<div id="map">
  <script type="text/javascript" src="./static/js/map.js"></script>
  <script type="text/javascript" src="./static/js/geojson.js"></script>
</div>
{% endblock %}

{% block body %}




<!-- Login form -->

<div>
  <button id="login" type="button" class="btn btn-primary">Formularz logowania</button>
  <div>
    <div class="jumbotron">


      <form class="form-signin" data-toggle="validator" method="post" action="validateLogin" name="form-signin">
        <label class="sr-only" for="inputName">email</label>
        <input id="inputName" class="form-control" type="email" autofocus required placeholder="email" name="inputName">
    <!--         <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus> -->
        <label class="sr-only" for="inputPassword">Hasło</label>
        <input id="inputPassword" class="form-control" type="password" required placeholder="Hasło" name="inputPassword">

        <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>
      </form>

    </div>

  </div>
  <script>
    $(".jumbotron").hide();
    $("#login").click(function () {
      $(".jumbotron").toggle("slow");
    });
  </script>

</div>



{% endblock %}
