{% extends "index.html" %}



{% block map %}

<div id="map">
    <script type="text/javascript" src="./static/js/map.js"></script>
    <script type="text/javascript" src="./static/js/geojson.js"></script>
    <script type="text/javascript" src="./static/js/edit-data.js"></script>
</div>

<div id="editPanel">
    <p>Proszę kliknąć na słup, żeby wyświetlić jego atrybuty</p>
    <form id="attrEdit" class="form-signin">


    </form>
</div>


{% endblock %}

{% block body %}
<a href="/logout"><button id="login" type="button" class="btn btn-primary">Wyloguj</button></a>



<script>
    $('#editPanel').BootSideMenu({side:"right", autoClose:false});
</script>



{% endblock %}
